 p1{
background-image: url(/public/css/pwibch7bbtjo64y6syom\ \(1\).gif)

}
h1 {
font-family: fantasy;
font-style: bold;
color: maroon;

}
h2 {
    font-family: fantasy;
    font-style: bold;
    color: maroon;

}
   
ul {
    font-family: fantasy;
    color: maroon;

}


li {
    font-family: fantasy;
    color: maroon;

}

h3 {
    font-family: fantasy;
    font-style: bold;
    color: maroon;
}

h4 {
    font-family: fantasy;
    color: maroon;
    font-style: bold;

}
form-group {

    font-family: fantasy;
font-style: bold;
color: maroon;
}

b1 {

    font-family: fantasy;
font-style: bold;
color: maroon;
}