 body{

        background-image: linear-gradient(to right, white , maroon);

}
h1 {
font-family: fantasy;
font-style: bold;
color: maroon;

}
h2 {
    font-family: fantasy;
    font-style: bold;
    color: maroon;

}
   
ul {
    font-family: fantasy;
    color: maroon;

}


li {
    font-family: fantasy;
    color: maroon;

}

h3 {
    font-family: fantasy;
    font-style: bold;
    color: maroon;
}

h4 {
    font-family: fantasy;
    color: maroon;
    font-style: bold;

}
h3 {
    font-family: fantasy;
    color: maroon;
    font-style: bold;

}
form-group {

    font-family: fantasy;
font-style: bold;
color: maroon;
}

button {

    font-family: fantasy;
font-style: bold;
color: maroon;
}